{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}


{% block content %}
<center>
<section class="section">
    <div class="contains">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h1 class="fw-bold">Recommedation based on previous purchases</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in products %}
                                    <tr>
                                        <td>{{ p.name }} </td>
                                        <td>{{ p.price }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</center>
{% endblock %}
